{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}Certificado{% endblock %}
{% block content %}
    <div class="w3-container" style="text-align: center; padding:0">
        <div class="w3-container"
             style="height:200px; overflow:hidden; padding:0; position: relative; margin-bottom: 30px">
            <img width="100%" src="{{ url_for('static', filename='A_los_derechos_humanos.jpg') }}">
            <div class="w3-quarter"></div>
            <div class="w3-half" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        font-size:150%; color:white; font-family:'Linux Libertine';
                        background: rgba(0, 104, 163, 0.9); padding: 10px; border-radius: 5px">
                <b>INTRODUÇÃO AO JORNALISMO CIENTÍFICO</b>
            </div>
        </div>
        <div class="w3-container" style="text-align: center; padding:0">
            <div class="w3-row" style="margin-bottom: 15px">
                <div class="w3-container">
                    <table>
                        <thead>
                        <tr>
                            <th>Nome de usuário(a)</th>
                            <th>Nome completo</th>
                            <th colspan="6">Atividades</th>
                            {% if not coordinator %}
                                <th>Emitir certificado</th>
                            {% else %}
                                <th>Pode emitir certificado?</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.full_name }}</td>
                                    {% set aulas = ["Metodologia_e_Filosofia_da_Ciência",
                                    "História_da_Ciência_e_da_Tecnologia",
                                    "Ética_da_Ciência",
                                    "Temas_Centrais_da_Ciência_Contemporânea",
                                    "Modos_de_Organização_e_Financiamento_dos_Sistemas_de_Pesquisa,_no_Brasil_e_no_Exterior",
                                    "Mídias,_Linguagens_e_Prática_do_Jornalismo_Científico"] %}
                                    {% if coordinator %}
                                        {% for module_activity in user.can_download_certificate.split(";") %}
                                            <td style="text-align: center">
                                                <a target="_blank"
                                                   href="https://pt.wikiversity.org/wiki/Introdução_ao_Jornalismo_Científico/{{ aulas[loop.index] }}/Atividade/{{ user.username }}">
                                                    <button type="button" value="{{ loop.index }}"
                                                            style="padding:10px; background-color: #0069a1; width: 100%">Módulo {{ loop.index }}</button>
                                                </a>
                                                {% if module_activity == "F" %}
                                                    <a href="{{ url_for('approve_certification', user=user.username, module_activity=loop.index) }}">
                                                        <button type="button" value="Sim"
                                                                style="padding:10px; background-color: #009000; width: 100%">Validar</button>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ url_for('deny_certification', user=user.username, module_activity=loop.index) }}">
                                                        <button type="button" value="Não"
                                                                style="padding:10px; background-color: #c90000; width: 100%">Invalidar</button>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        {% for module_activity in user.can_download_certificate.split(";") %}
                                            <td style="text-align: center; background-color: {% if module_activity == "F" %}#ff9090{% else %}#90ff90{% endif %}">
                                                <a target="_blank" title="{% if module_activity == "F" %}Esta atividade ainda precisa ser aprovada{% else %}Esta atividade foi aprovada{% endif %}"
                                                       href="https://pt.wikiversity.org/wiki/Introdução_ao_Jornalismo_Científico/{{ aulas[loop.index] }}/Atividade/{{ user.username }}">
                                                    <button type="button" value="{{ loop.index }}"
                                                            style="padding:10px; background-color: #0069a1; width: 100%">Módulo {{ loop.index }}</button>
                                                </a>
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                    {% if not coordinator %}
                                        <td style="text-align: center">
                                            {% if can_download_certificate %}
                                                <a href="{{ url_for('generate_certificate') }}">
                                                    <button type="button" style="padding:10px; background-color: #009000; width: 100%">
                                                        Certificado
                                                    </button>
                                                </a>
                                                <br>
                                                <a href="{{ url_for('generate_attachment') }}">
                                                    <button type="button" style="padding:10px; background-color:#009000; width: 100%">
                                                        Anexos
                                                    </button>
                                                </a>
                                            {% else %}
                                                <a href="{{ url_for('solicit_certificate') }}">
                                                    <button type="button" style="padding:10px; background-color: {% if user.can_download_certificate %}#009000{% else %}#90c090{% endif %}; width: 100%">
                                                        Solicitar certificado
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        {% if user.solicited_certificate %}
                                            <td style="text-align: center">
                                                <a href="{{ url_for('deny_solicitation_for_certificate', user_username=user.username) }}">
                                                    <button type="button" value="Não" style="padding:10px; background-color: #c90000; width: 100%">
                                                        Rejeitar solicitação
                                                    </button>
                                                </a>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center">
                                                <button type="button" value="Não" style="padding:10px; background-color: #909090; color:#090909; width: 100%">
                                                    Não solicitado/<br>Não necessário
                                                </button>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
