{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}Atualizar inscrição{% endblock %}
{% block content %}
    <div class="w3-container" style="text-align: center; padding:0">
        <div class="w3-container" style="height:200px; overflow:hidden; padding:0; position: relative; margin-bottom: 30px">
            <img width="100%" src="{{ url_for('static', filename='A_los_derechos_humanos.jpg') }}">
            <div class="w3-quarter"></div>
            <div class="w3-half" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        font-size:150%; color:white; font-family:'Linux Libertine';
                        background: rgba(0, 104, 163, 0.9); padding: 10px; border-radius: 5px">
                <b>INTRODUÇÃO AO JORNALISMO CIENTÍFICO</b>
            </div>
        </div>
        <div class="w3-container" style="text-align: center; padding:0">
            <div class="w3-row" style="margin-bottom: 15px">
                <div class="w3-quarter">&nbsp;</div>
                <div class="w3-half">
                    <form action="{{ url_for('update_subscription', user_username = user.username) }}" method="post" id="name_form">
                        <input type="hidden" name="Username" maxlength="150" value="{{ username }}">
                        <div class="w3-container" style="margin-bottom: 15px">
                            <input type="text" placeholder="Nome de usuário(a)" name="Username_show"
                               style="width: 100%; height: 45px; font-size: 125%; padding: 5px"
                               maxlength="150" value="{{ user.username }}" disabled>
                        </div>
                        <div class="w3-container" style="margin-bottom: 15px">
                            <input type="text" placeholder="Nome completo" name="FullName"
                                   style="width: 100%; height: 45px; font-size: 125%; padding: 5px"
                                   value="{{ user.full_name }}" maxlength="300">
                        </div>
                    </form>
                    <div class="w3-container" style="margin-bottom: 15px">
                        <button type="submit" form="name_form" class="button" style="width: 100%; margin: 0; padding: 5px; height: 45px">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
